@import '../../variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 34rem;
  width: 100%;
  background-image: linear-gradient($primary, $darkPrimary);
  border-radius: 1rem;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);

  @media (max-width: 480px) {
    height: 25.5rem;
  }

  p {
    padding: 1.5rem 2rem;
    color: $secondary;
    font-size: 1.8rem;
  }

  img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: contain;
  }
}

.link {
  text-decoration: none;
}
