@import '../../../variables';

.arrow {
  height: 1.4rem;
}

.arrowCarousel {
  height: 8rem;
}

@media (max-width: 480px) {
  .arrow {
    height: 0.8rem;
  }

  .arrowCarousel {
    height: 2rem;
  }
}
