@import '../../variables';

.accommondationContainer {
  margin: 5rem 0 3rem 0;
}

.infoSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3rem 0 3rem 0;
  color: $primary;
}

.title {
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 500;
}

.location {
  font-size: 1.8rem;
}

.userProfileRatingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.ratingTagsContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.dropdownWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.8rem;
  line-height: 2.5rem;

  .equipmentList {
    list-style: none;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .accommondationContainer {
    margin: 2rem 0 0 0;
  }

  .title {
    white-space: break-spaces;
    font-size: 1.8rem;
  }

  .location {
    font-size: 1.4rem;
  }

  .infoSectionContainer {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
  }

  .userProfileRatingContainer {
    margin-top: 1rem;
    flex-direction: unset;
    width: 100%;
  }

  .dropdownWrapper {
    flex-direction: column;

    .equipmentList {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.7rem;
    }

    .description {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.7rem;
    }
  }
}
