@import '../../variables';

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6.5rem 0 3rem 0;
  height: 22.3rem;
  border-radius: 2.5rem;

  h1 {
    color: $secondary;
    font-size: 4.8rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px #444;
  }
}
