@import '../../variables';

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $primary;
}

.heading {
  margin: 10rem 0 2rem 0;
  font-size: 28.8rem;
  font-weight: 700;
}

.subHeading {
  margin-bottom: 22rem;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
}

.link {
  margin-bottom: 16rem;
  color: $primary;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .heading {
    margin: 20rem 0 2rem 0;
    font-size: 18rem;
  }

  .subHeading {
    font-size: 3rem;
    margin-bottom: 13rem;
  }
}

@media (max-width: 768px) {
  .heading {
    margin: 20rem 0 2rem 0;
    font-size: 15rem;
  }

  .subHeading {
    font-size: 3rem;
    margin-bottom: 13rem;
  }
}

@media (max-width: 480px) {
  .heading {
    margin: 20rem 0 2rem 0;
    font-size: 9.6rem;
  }

  .subHeading {
    font-size: 1.8rem;
    margin-bottom: 10rem;
  }

  .link {
    font-size: 1.4rem;
    margin-bottom: 25rem;
  }
}
